.topic {
  padding: 1em;
  min-width: 250px;
  width: 28%;
  margin: 2%;
  display: inline-block;

  box-shadow: 0.05em 0.05em var(--shadow-general);
  border-radius: 0.3em;

  color: var(--text-general);

  background-color: var(--primary);
  text-align: justify;
}

.topic:hover {
  background-color: var(--alt-primary);
}

.card-topic-title {
  font-weight: bold;
  text-align: center;
  font-size: large;
}
