.topic {
  padding: 1em;
  min-width: 250px;
  width: 28%;
  margin: 2%;
  display: inline-block;
  background-color: var(--cyan5);
  text-align: justify;
}

.topic:hover {
  background-color: var(--cyan2);
}

.card-topic-title {
  font-weight: bold;
  text-align: center;
  font-size: large;
}