.topic {
  padding: 1em;
  width: 28%;
  margin: 2%;
  display: inline-block;
  background-color: #c7fae8;
  text-align: justify;
}

.topic-title {
  font-weight: bold;
  text-align: center;
  font-size: large;
}