.top-bar {
  position: sticky;
  top: 0px;
  padding-top: 1em;
  background-color: white;

  text-align: center;
}

.justified-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bar-button {
  display: inline-block;
  min-width: 150px;
  color: black;
  background-color: var(--cyan5);
}

.bar-button:hover {
  background-color: var(--cyan2);
  border-color: var(--cyan5);
}

.solid-divider {
  border: #eeeeee;
  border-top: 0.1em solid #bbbbbb;
}
